<nav
  class="navbar is-transparent"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="assets/logo.png" width="50" height="50" />
    </a>

    <a
      [class.is-active]="isOpen"
      (click)="isOpen = !isOpen"
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarMenu"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMenu" class="navbar-menu" [class.is-active]="isOpen">
    <div class="navbar-start">
      <a routerLink="/home" class="navbar-item"> Home </a>

      <a routerLink="/view/about" class="navbar-item"> About </a>

      <a routerLink="/gallery" class="navbar-item"> Gallery </a>

      <a routerLink="/view/guidelines/main" class="navbar-item"> Guidelines </a>
      <a routerLink="/view/guidelines/cyclic-2" class="navbar-item">
        Cyclic 2.0
      </a>
      <a routerLink="/view/showcase/clicky-things" class="navbar-item">
        Social Links
      </a>

      <!-- <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> Events </a>

        <div class="navbar-dropdown">
          <a class="navbar-item"> Comics Go </a>
          <a class="navbar-item"> Telestrations </a>
          <a class="navbar-item"> Darktober 2020 </a>
        </div>
      </div>

      <a class="navbar-item"> Members </a> -->
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a routerLink="/view/get-started" class="button is-primary">
            <strong>Join Group</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
