<app-navbar></app-navbar>
<section class="hero is-primary is-medium">
  <div class="hero-body">
    <p class="title">Cyclic Support Group</p>
    <p class="subtitle">
      A group of individual aiming to improve ourselves one skill at a time.
    </p>
    <div class="block">
      <a class="button block is-rounded cta">
        <span> Join Group </span>
        <span class="icon">
          <i class="fas fa-arrow-right"></i>
        </span>
      </a>
      <a class="button block is-rounded is-link">
        <span> Cyclic Specification v2.0 </span>
        <span class="icon">
          <i class="fab fa-github"></i>
        </span>
      </a>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns">
    <div class="column">&nbsp;</div>
    <div class="column is-four-fifths">
      <app-viewer url="/view/summary/intro"></app-viewer>
    </div>
    <div class="column">&nbsp;</div>
  </div>
</section>
