@import "~lightgallery/scss/lightgallery";
@import "~lightgallery/scss/lg-zoom.scss";
@import "~lightgallery/scss/lg-video.scss";
@import "~lightgallery/scss/lg-thumbnail.scss";

$primary: rgba(211, 65, 63, 1);
$link: $primary;
$navbar-item-img-max-height: 3rem;
$navbar-height: 5rem;
:root {
  --primary: rgba(211, 65, 63, 1);
}

@import "bulma/bulma.sass";
